@import "tailwindcss";
@import "tw-animate-css";

html,
body {
  height: screen;
}

body {
  overflow-x: hidden;
}

@theme {
  /* fonts */
  --font-poppins: var(--font-poppins);
  --font-hedvig: var(--font-headvig);

  --color-primary: #f6f6f6;
  --color-black-secondary: #1a1515;

  --color-green-primary: #62e371;
}
